{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block content %}

<div class="header-spacer"></div>

<section id="bag-details" class="container-fluid background-yellow">
    <div class="row">
        <div class="col text-center">
            <h2 class="pt-3 text-white heading-shadow">Shopping Bag Details</h2>
            <hr class="style1">
        </div>
    </div>
    <div class="row">
        <!-- Table seen on Code Institues Boutique Ado and adjusted for my use-->
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded-0">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25 d-none d-sm-table-cell">
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                        alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                                    <p class="my-0">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <form id="update-form" class="form new-form" method="POST"
                                        action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm blue-button"
                                                        data-item_id="{{ item.item_id }}" aria-label="decrease quantity"
                                                        id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input search-box box-shadow-small" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm blue-button"
                                                        data-item_id="{{ item.item_id }}" aria-label="increase quantity"
                                                        id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="small-text mt-2 update-link blue-button btn btn-sm">Update</a>
                                    <a class="small-text mt-2 remove-item btn btn-sm text-end red-button" id="remove_{{ item.item_id }}"
                                        data-product_size="{{ item.size }}">Remove</a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"> € {{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-end">
                                <h6><strong>Bag Total: € {{ total|floatformat:2 }}</strong></h6>
                                <h6>Discount applied : € {{ discount|floatformat:2 }}</h6>
                                <h6>Subtotal : € {{ new_total|floatformat:2 }}</h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just
                                    <strong>${{ free_delivery_delta }}</strong> more!
                                </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end">
                                <a href="{% url 'products' %}" class="btn blue-button box-shadow-small">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="fs-6">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn search-box box-shadow-small">
                                    <span class="fs-6">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <p class="logo-accent-alt text-white heading-shadow mt-3 mb-5">Your bag is empty</p>
                        <a href="{% url 'products' %}" class="blue-background box-shadow-small text-white btn btn-lg">
                            <i class="text-white fas fa-chevron-left"></i> Keep Shopping
                        </a>
                    </div>
                    <div class="mt-3 mb-3 col-12 col-md-6 text-center">
                        <img class="w-50" src="/media/sad_bag.png" alt="sad shopping bag">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super}}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        // encountered bug so targetting the id of the form solved it
        var form = $(this).prev('.new-form')
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/bag/remove/${itemId}`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

</script>

{% endblock %}