{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block content %}

<div class="header-spacer"></div>

<section id="user-profile" class="container-fluid background-yellow">
    <div class="row">
        <div class="col text-center">
            <h2 class="pt-3 text-white heading-shadow">My Profile</h2>
            <hr class="style1">
        </div>
        <div class="row pb-4">
            <div class="text-white col-10 offset-1 col-lg-4 offset-lg-0">
                <p class="fs-2 text-center text-white">{{ profile.user }}'s Profile</p>
                <!-- This will be used later to give recommendations -->
                <p class="text-center">Favourite Genre : {{ profile.favourite_genre.friendly_name }}</p>
                {% if profile.profile_image %}
                    <img class="profile-img w-100" src="{{ MEDIA_URL }}{{ profile.profile_image }}" alt="Image of {{ profile.username }}">
                {% else %}
                    <img class="profile-img w-100" src="{{ MEDIA_URL }}no_image.jpg" alt="Placeholder image for {{ profile.username }}">
                {% endif %}
            </div>
            <div class="col-10 offset-1 col-lg-4 offset-lg-0">
                <p class="text-center fs-2 text-shadow text-white">Default Delivery Details</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn blue-button box-shadow-small float-end">Update
                        Information</button>
                </form>
            </div>
        </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}