{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block content %}

<div class="header-spacer"></div>

<section id="bag-details" class="container-fluid background-yellow">
    <div class="row">
        <div class="col text-center">
            <h2 class="pt-3 text-white heading-shadow">Checkout</h2>
            <hr class="style1">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 col-lg-6 order-lg-last mb-4">

        </div>
    </div>

    <div class="row text-center">
        <div class="col-12 col-lg-6">
            <p class="text-black">Please fill out the form below</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="mx-auto blue-background box-shadow px-3 text-center w-75 text-center mb-5">
                    <legend class="text-white">Customer Details</legend>
                    {% for field in order_form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}  
                    <div class="form-check form-check-inline float-right mr-0 mb-3">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my
                                profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-white" href="{% url 'account_signup' %}">Create an account</a> or
                                <a class="text-white" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="mx-auto blue-background box-shadow px-3 text-center w-75 text-center mb-5">
                    <legend class="text-white">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

            </form>
          
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super}}


{% endblock %}