#profile-update-form input::placeholder {
    color: lightskyblue
}

.profile-img {
    border-radius: 10%;
    border:4px solid #c01b21;
    max-width: 250px;
    max-height: 250px;
    width: 60%;
    margin: auto;
    display: block;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #87cefa;
}
