/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Oswald&display=swap');

/* base styling for headers */
:is(h1, h2, h3, h4, h5, h6,) {
    font-family: 'Audiowide',
    cursive;
}

/* setting default styling for the body */
body {
    font-family: 'Oswald',
    sans-serif;
    min-height: 100vh;
}

/* Navbar styling */

.logo-font {
    font-family: 'Audiowide',
    cursive;
    color: #fcb014;
    text-shadow:2px 2px #c01b21;
}

.logo-accent {
    font-family: 'Oswald',
    sans-serif;
    color: #c01b21;
    font-size: 3rem;
    text-shadow:2px 2px #fcb014;
}

.blue-background {
    background-color: #018bd4;
}

.background-yellow {
    background-color: #fcb014;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #fcb014;
}

/* keep search icon white */
.fa-search:before {
    content: "\f002";
    color: white;
}

.search-box {
    border: 2px solid #fcb014;
    background-color: #fff;
    color: #018bd4;
    border-radius: 8px;
}

.search-box::placeholder {
    color :#018bd4;
}

.red-btn {
    border: 2px solid #fff;
    background-color: #fcb014;
}

/* taken from code institute Boutique Ado */
.main-logo-link {
    width: fit-content;
}

#search-mob-btn {
    background-color: #fcb014;
}

.red-label-text {
    font-size: 1.2rem;
    font-family: 'Audiowide',sans-serif;
    color: #c01b21 !important;
    text-shadow: 1px 1px #fcb014;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: .5rem;
    margin-right: 1.2rem;
}

#main-nav {
    margin-right: 40px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #018bd4;
    background-color: fff;
}

.dropdown-item {
    color:#fff;
}

.dropdown-menu {
    border: none;
}
/* edit the color of the burger button */
.navbar-light .navbar-toggler-icon {
    border-radius: 8px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252,160,20, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    border: 2px solid #c01b21;
    border-radius: 8px;
}
    
/* media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}