<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="white-label-text font-weight-bold nav-link mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="white-label-text font-weight-bold nav-link mr-5" href="#" id="vinyls-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vinyls
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="vinyls-link">
                <a href="{% url 'products' %}?category=heavy_metal" class="dropdown-item">Heavy Metal</a>
                <a href="{% url 'products' %}?category=rock" class="dropdown-item">Rock</a>
                <a href="{% url 'products' %}?category=hip_hop" class="dropdown-item">Hip Hop</a>
                <a href="{% url 'products' %}?category=soul" class="dropdown-item">Soul</a>
                <a href="{% url 'products' %}?category=pop" class="dropdown-item">Pop</a>
                <a href="{% url 'products' %}?category=heavy_metal,rock,hip_hop,soul,pop" class="dropdown-item">All
                    Vinyls</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="white-label-text font-weight-bold nav-link mr-5" href="#" id="accessories-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=headphones" class="dropdown-item">Headphones</a>
                <a href="{% url 'products' %}?category=cleaner" class="dropdown-item">Cleaners</a>
                <a href="{% url 'products' %}?category=headphones,cleaners" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="white-label-text font-weight-bold nav-link" href="#" id="record-players-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Record Players
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="record-players-link">
                <a href="{% url 'products' %}?category=manual_record_player" class="dropdown-item">Manual</a>
                <a href="{% url 'products' %}?category=auto_record_player" class="dropdown-item">Automatic</a>
                <a href="{% url 'products' %}?category=manual_record_player,auto_record_player" class="dropdown-item">All
                    Record Players</a>
            </div>
        </li>
    </ul>
</div>