<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="red-label-text font-weight-bold nav-link mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="red-label-text font-weight-bold nav-link mr-5" href="#" id="vinyls-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vinyls
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="vinyls-link">
                <a href="" class="dropdown-item">Heavy Metal</a>
                <a href="" class="dropdown-item">Rock</a>
                <a href="" class="dropdown-item">Hip Hop</a>
                <a href="" class="dropdown-item">Soul</a>
                <a href="" class="dropdown-item">Funk</a>
                <a href="" class="dropdown-item">Pop</a>
                <a href="" class="dropdown-item">All
                    Vinyls</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class=" red-label-text font-weight-bold nav-link mr-5" href="#" id="accessories-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Headphones</a>
                <a href="" class="dropdown-item">Cleaners</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="red-label-text font-weight-bold nav-link" href="#" id="recored-players-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Record Players
            </a>
            <div class="dropdown-menu blue-background" aria-labelledby="record-players-link">
                <a href="" class="dropdown-item">Manual</a>
                <a href="" class="dropdown-item">Automatic</a>
                <a href="" class="dropdown-item">All
                    Record Players</a>
            </div>
        </li>
    </ul>
</div>