{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h1 class="text-white">{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a href="{% url 'home' %}" class="btn red-button box-shadow-small my-2">
    <span class="mr-2">
      <i class="fas fa-hand-point-left"></i>
    </span>
    <span>Return to Homepage</span>
  </a>
  <button class="btn blue-button box-shadow-small" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
